/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

h1{
    color: #202020;
    font-size: 3em;
}

.bold{
    font-weight: bold;
}

/* NAVBAR CONTAINER*/
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    background-color: #232a31;
}

nav .logo{
    margin-right: auto; /* empurrar a imagem para a esquerda */
    padding-left: 2%;
}

nav .logo img{
    width: 35%;
    margin-top: 2%;
}

.navbar-items{
    display: flex; 
    list-style: none;
    margin-left: auto; /* empurrar os itens da lista para a direita */
}

.navbar-items li{
    padding-right: 25px; /* espaçamento entre os itens */
}

.navbar-items a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: ease(0.2s);
    font-weight: bold;
}

.navbar-items a:hover{
    cursor: pointer;
    color: #cecece;
}

.default-btn{
    background-color: rgb(16, 87, 145);
    border-radius: 10px;
    padding: 12px 12px;
}

.navbar-items .default-btn:hover{
    color: #fff;
    background-color: rgb(24, 121, 200);
    box-shadow: 2px 2px rgb(53, 53, 53);
}

/* main banner*/
.main-banner{
    background-image: url(../assets/mainbanner.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 5.5% 0;
}

.main-banner h1,
.main-banner p{
    color: #f9f9f9;
    text-align: center;
    
    text-shadow: #292929 3px 2px 3px;
}