.flex-column{
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    margin-bottom: 1%;
}
.flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    background-color: lightcoral;
}